---
format:
    html:
        self-contained: true
        embed-resources: true
title: "Practice-Activity-6.1"

---

# Palmer Penguins Modeling

Import the Palmer Penguins dataset and print out the first few rows.

Suppose we want to predict `bill_depth_mm` using the other variables in the dataset.

Which variables would we need to **dummify**?

In [54]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from palmerpenguins import load_penguins
from plotnine import ggplot, geom_point, aes

In [31]:
penguins = load_penguins()
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

We would need to dummify species, island and sex.

In [49]:
penguins=pd.get_dummies(penguins)
penguins = penguins.dropna()
penguins

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,sex_female,sex_male
0,39.1,18.7,181.0,3750.0,2007,True,False,False,False,False,True,False,True
1,39.5,17.4,186.0,3800.0,2007,True,False,False,False,False,True,True,False
2,40.3,18.0,195.0,3250.0,2007,True,False,False,False,False,True,True,False
4,36.7,19.3,193.0,3450.0,2007,True,False,False,False,False,True,True,False
5,39.3,20.6,190.0,3650.0,2007,True,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,55.8,19.8,207.0,4000.0,2009,False,True,False,False,True,False,False,True
340,43.5,18.1,202.0,3400.0,2009,False,True,False,False,True,False,True,False
341,49.6,18.2,193.0,3775.0,2009,False,True,False,False,True,False,False,True
342,50.8,19.0,210.0,4100.0,2009,False,True,False,False,True,False,False,True
343,50.2,18.7,198.0,3775.0,2009,False,True,False,False,True,False,True,False

Let's use `bill_length_mm` to predict `bill_depth_mm`. Prepare your data and fit the following models on the entire dataset:

* Simple linear regression (e.g. straight-line) model
* Quadratic (degree 2 polynomial) model
* Cubic (degree 3 polynomial) model
* Degree 10 polynomial model

Make predictions for each model and plot your fitted models on the scatterplot.

In [50]:
# Simple linear regression (e.g. straight-line) model
x=penguins["bill_length_mm"].values.reshape(-1, 1)
y=penguins["bill_depth_mm"]
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [52]:
# (ggplot(model,aes(
 # x = "bill_length_mm",
 # y = "bill_depth_mm",
#))
#+ geom_point()
#)

TypeError: Bad type of argument LinearRegression(), expected a dataframe or a mapping.

In [57]:
#Quadratic (degree 2 polynomial) model
x=penguins["bill_length_mm"].values.reshape(-1, 1)
y=penguins["bill_depth_mm"] 
p = PolynomialFeatures((1,2))
x_p = p.fit_transform(x)

model = LinearRegression()
model.fit(x_p, y)

LinearRegression()

In [58]:
# Cubic (degree 3 polynomial) model
x=penguins["bill_length_mm"].values.reshape(-1, 1)
y=penguins["bill_depth_mm"] 
p = PolynomialFeatures((1,3))
x_p = p.fit_transform(x)

model = LinearRegression()
model.fit(x_p, y)

LinearRegression()

In [59]:
#Degree 10 polynomial model
x=penguins["bill_length_mm"].values.reshape(-1, 1)
y=penguins["bill_depth_mm"] 
p = PolynomialFeatures((1,10))
x_p = p.fit_transform(x)

model = LinearRegression()
model.fit(x_p, y)

LinearRegression()

* Are any of the models above underfitting the data? If so, which ones and how can you tell?
* Are any of thhe models above overfitting the data? If so, which ones and how can you tell?
* Which of the above models do you think fits the data best and why?